@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(45deg, red, blue); */
  background: linear-gradient(45deg, #7c7676, #5c5c8e);
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  gap: 40px;
}

.calendar {
  /* margin: 20px; */
  width: 300px;
  height: 240px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left {
  width: 56%;
  height: 100%;
  /* color: red; */
}
.left,
.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
}
.right {
  width: 44%;
  background-color: red;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#date {
  font-size: 80px;
  line-height: 90px;
}
.dateContainer {
  width: 20%;
  height: 200px;
  background-color: #2a2e3a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.time {
  margin-top: 20px;
  padding: 5px;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hours,
#minutes,
#seconds {
  height: 80px;
  width: 80px;
  border: 1px solid gray;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: 500;
}

#hours {
  background-color: #ee0c18;
}
#minutes {
  background-color: #049626;
}
#seconds {
  background-color: #62572a;
}

.date {
  background-color: #39414e;
  width: 90%;
  padding: 4px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#day,
#totalDate,
#ampm {
  /* color: #777b83; */
  color: #a5d4fc;
}

/* ///////////////////////////  */
.analog {
  height: 220px;
  width: 220px;
  border: 2px solid #a5d4fc;
  background-color: #2a2e3a;
  border-radius: 50%;
  position: relative;
}
.point {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #a5d4fc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.point-hands {
  position: relative;
}
.hour {
  position: absolute;
  color: #a5d4fc;
  font-size: 18px;
  /* font-weight: bold; */
}

.hour-1 {
  top: 22px;
  right: 60px;
}
.hour-2 {
  top: 50px;
  right: 30px;
}
.hour-3 {
  top: 95px;
  right: 12px;
}
.hour-4 {
  top: 136px;
  right: 30px;
}
.hour-5 {
  top: 172px;
  right: 56px;
}
.hour-6 {
  top: 186px;
  right: 100px;
}
.hour-7 {
  top: 172px;
  left: 56px;
}
.hour-8 {
  top: 136px;
  left: 30px;
}
.hour-9 {
  top: 95px;
  left: 12px;
}
.hour-11 {
  top: 22px;
  left: 60px;
}
.hour-10 {
  top: 50px;
  left: 30px;
}
.hour-12 {
  top: 6px;
  right: 100px;
}

/* ///////// */
.seconds-hand-wrapper {
  height: 120px;
  width: 120px;
  /* background-color: rgb(110, 58, 58); */
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
}
.secs-hand {
  position: relative;
}
.sec-hand {
  position: absolute;
  height: 70px;
  width: 2px;
  background-color: #62572a;
  top: -9px;
  left: 58px; /*wraperWidth-handWidth/2*/
}

.minutes-hand-wrapper {
  height: 140px;
  width: 140px;
  /* background-color: gray; */
  position: absolute;
  top: 38px;
  left: 40px;
  border-radius: 50%;
}
.mins-hand {
  position: relative;
}
.min-hand {
  position: absolute;
  height: 60px;
  width: 3px;
  background-color: #179550;
  top: 11px;
  left: 67px;
}
.hours-hand-wrapper {
  height: 100px;
  width: 100px;
  /* background-color: pink; */
  position: absolute;
  top: 59px;
  left: 59px;
  border-radius: 50%;
}
.hrs-hand {
  position: relative;
}
.hour-hand {
  position: absolute;
  height: 50px;
  width: 3.5px;
  background-color: #920725;
  top: 2px;
  left: 47.5px;
}
